.product-list-container {
  margin: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th, .product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-actions {
  display: flex;
  justify-content: center;
}

.product-actions button {
  padding: 8px;
  cursor: pointer;
}

.product-actions .botaoeditar {
  background-color: #4caf50;
  color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.product-actions .botaoeditar:hover {
  background-color: #45a049;
}

.product-actions .botaoexcluir {
  background-color: #d22323;
  color: white;
  border: none;
  margin-left: 2px; /* Ajuste a margem conforme necessário */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.product-actions .botaoexcluir:hover {
  background-color: #b22020;
}

@media only screen and (max-width: 600px) {
  .product-table th {
    text-align: center;
    display: table-cell;
    width: auto;
  }

  .product-table th, .product-table td {
    display: block;
    box-sizing: border-box;
  }

  .product-table th, .product-table td:before {
    display: none;
  }

  .product-table th {
    background-color: #f2f2f2;
    position: relative;
  }

  .product-table td {
    margin-bottom: 8px;
  }

  .product-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    
  }

  .product-actions button {
    width: 100%;
    margin-top: 8px;
  }
}


@media only screen and (max-width: 600px) {
  .product-table th {
    text-align: center;
    display: table-cell;
    width: auto;
  }

  .product-table th, .product-table td {
    display: block;
    box-sizing: border-box;
  }

  .product-table th, .product-table td:before {
    display: none;
  }

  .product-table th {
    background-color: #f2f2f2;
    position: relative;
  }

  .product-table td {
    margin-bottom: 8px;
  }

  .product-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    
  }

  .product-actions button {
    width: 100%;
    margin-top: 8px;
  }


}
